html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#map {
  width: 100%;
  height: 100%; }

/**Bootstrap override*/
.card-body {
  padding: 0.05rem; }

.hiddenRow {
  padding: 0 !important; }

#sparkline-message {
  z-index: 2000000000;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: none; }

#sparkline-message-fixed {
  position: fixed;
  z-index: 2000000000;
  margin-top: 10px; }

#sparkline-message-inner {
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #e0e0e0; }

.greyOutMap {
  width: 1000000px;
  top: -50px;
  height: 100000px;
  background-color: black;
  pointer-events: none; }

.leaflet-tooltip-sparkline {
  padding: 1px !important;
  opacity: .5 !important; }

.leaflet-control-mouseCoordinate {
  width: 250px;
  min-height: 30px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: none repeat scroll 0 0 #fff;
  color: #333;
  padding: 6px 10px 6px 6px; }

.leaflet-control-mouseCoordinate table {
  width: 100%; }

.coords {
  width: 90px; }

.leaflet-sidebar-pane {
  padding: 10px 0px 0px 2px;
  height: calc(100% - 44px);
  max-height: calc(100% - 44px); }

/* Sidebar notification badge */
.bell-notification {
  color: #000;
  background: #FFAC3D;
  position: absolute;
  margin-top: 2px;
  right: 12px;
  padding: 0 4px;
  min-width: 18px;
  height: 18px;
  line-height: 1.5;
  border-radius: 9px; }

.leaflet-tooltip.dockdooknumber {
  background-color: transparent;
  color: black;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 10px; }

.tooltip-hidden {
  display: none; }

.leaflet-tooltip.vehiclenumber {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  height: 18px;
  min-width: 18px;
  background-color: #f4cd65;
  border: 2px solid #333366;
  border-radius: 9px;
  box-shadow: none;
  font-size: 9px;
  font-weight: bold;
  padding: 2px; }

.leaflet-tooltip.persontag {
  background-color: #3573b1;
  padding: 2px;
  height: 18px;
  min-width: 18px;
  border: 2px solid #3573b1;
  border-radius: 9px;
  box-shadow: none;
  font-size: unset;
  font-weight: bold;
  line-height: 1;
  text-align: center; }

.leaflet-tooltip.persontag_otAuth {
  width: 20px;
  height: 20px;
  background-color: #3573b1;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.leaflet-tooltip.persontag_otNotAuth {
  width: 20px;
  height: 20px;
  background-color: #ff6500;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.leaflet-tooltip.locator {
  background-color: yellow;
  padding: 2px;
  height: 18px;
  min-width: 18px;
  border: 2px solid yellow;
  border-radius: 9px;
  box-shadow: none;
  font-size: unset;
  font-weight: bold;
  line-height: 1;
  text-align: center; }

.leaflet-tooltip.location {
  background-color: white;
  color: #000;
  border: 1px solid #3573b1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  padding: 2px;
  font-weight: bold;
  font-size: 8px;
  line-height: 1.25;
  text-align: center; }

.rotate {
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  top: 0;
  left: 0;
  /* Border is the new background */
  background: none;
  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(90deg); }

.iconCenter {
  text-align: center !important;
  vertical-align: middle !important; }

.enter-fullscreen-active {
  top: .1rem !important; }

.exit-fullscreen-active {
  top: -.1rem !important; }

.leaflet-control-zoom-in {
  font-size: 22px !important; }

.leaflet-control-zoom-out {
  font-size: 22px !important; }

#faqToggle {
  padding-top: .1rem !important; }

#legendToggle {
  padding-top: .1rem !important; }

#layersToggle {
  padding-top: .1rem !important; }

#viewportsToggle {
  padding-top: .1rem !important; }

table thead tr th {
  text-align: left;
  vertical-align: middle; }

.table {
  table-layout: auto; /*it was fixed*/
  width: 100%;
  white-space: nowrap; }

/* table.table thead.thead-dark {
    background-color: #343a40;
    color: #fff;
}*/
td.thead-dark {
  background-color: #343a40;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #595959; }

.table td {
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis; }

.fixedHeader {
  overflow-y: auto;
  height: 100%; }

.fixedHeader thead th {
  position: sticky;
  top: -1px;
  z-index: 999; }

/* Set table height depending on devices height */
@media (min-height: 1080px) {
  .variableHeight {
    max-height: 450px;
    display: block; } }

@media (min-height: 801px) and (max-height: 1079px) {
  .variableHeight {
    max-height: 350px;
    display: block; } }

@media (max-height: 800px) {
  .variableHeight {
    max-height: 250px;
    display: block; } }

/**vehicle color*/
.vehicle_orange {
  color: orange; }

.vehicle_red {
  color: red; }

.vehicle_blue {
  color: blue; }

/*CTS DATA setup*/
/**App Setting*/
.row-name {
  width: 36%; }

.row-value {
  width: 64%; }

.row-action {
  width: 14%; }

/**notification table*/
.row-n-name {
  width: 35%; }

.row-n-type {
  width: 10%; }

.row-n-wmin {
  width: 20%; }

.row-n-cmin {
  width: 15%; }

.row-n-action {
  width: 30%; }

.row-n-status {
  width: 20%; }

/**API Connection*/
.row-connection-name {
  width: 20%; }

.row-connection-type {
  width: 25%; }

.row-connection-status {
  width: 20%; }

.row-connection-action {
  width: 25%; }

/**CTS table*/
.row-cts-schd {
  width: 9%; }

.row-cts-depart {
  width: 10%; }

.row-cts-rt {
  width: 20%; }

.row-cts-door {
  width: 10%; }

.row-cts-leg {
  width: 14%; }

.row-cts-dest {
  width: 30%; }

.row-cts-close {
  width: 8%; }

.row-cts-load {
  width: 8%; }

/**compliance table*/
.row-comp-1 {
  width: 42%; } /*it was 45*/

.row-comp-2 {
  width: 15%; }

.row-comp-3 {
  width: 20%; }

.row-comp-4 {
  width: 52%; }

/**compliance table*/
.frow-comp-1 {
  width: 100%; }

.frow-comp-2 {
  width: 100%; }

.frow-comp-3 {
  width: 100%; }

.frow-comp-4 {
  width: 100%; }

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-left: 0px;
  padding-right: 0px; }

.table tbody tr.yellowBg td {
  background-color: #fff723;
  font-weight: bold;
  color: #000;
  border: 1px solid #F2E830; }

.table tbody tr td.yellowBg {
  background-color: #fff723;
  font-weight: bold;
  color: #000;
  border: 1px solid #F2E830; }

.table tbody tr td.lightYellowBg {
  background-color: #FCFCC4;
  font-weight: bold;
  color: #000;
  border: 1px solid #F2E830; }

.table tbody tr td.orangeBg {
  background-color: #FFAE00;
  font-weight: bold;
  color: #000;
  border: 1px solid #F2E830; }

.table tbody tr td.lightOrangeBg {
  background-color: #F9D077;
  font-weight: bold;
  color: #000;
  border: 1px solid #F2E830; }

.table tbody tr td.redBg {
  background-color: #e43e3e;
  font-weight: bold;
  color: #fff !important; }

.table tbody tr td.lightRedBg {
  background-color: #FF7775;
  font-weight: bold;
  color: #fff !important; }

.table tbody tr td.greenBg {
  background-color: #56B200;
  font-weight: bold;
  color: #000 !important; }

.table tbody tr.greenBg td {
  background-color: #56B200;
  font-weight: bold;
  color: #000 !important;
  border: 1px solid #F2E830; }

.table tbody tr.redBg td {
  background-color: #e43e3e;
  font-weight: bold;
  color: #fff !important;
  border: 1px solid #CE3333; }

.table tbody td.purpleBg {
  /*background-color: #ED3D9E !important;
    font-weight: bold;
    color: #000;*/
  color: #f8d7da;
  background-color: #721c24;
  border: 1px solid #fa8183; }

.table tbody td.purpleCell {
  background-color: #ED3D9E !important; }

.table tbody td.redCell {
  background-color: #e43e3e !important;
  color: #fff !important; }

.table tbody td.yellowCell {
  background-color: #fff723 !important; }

.table tbody td.blueCell {
  background: #49A4FF !important;
  color: #fff; }

/* Status badge color override */
.badge-info {
  background-color: #3573b1; }

/*******Wifi connection icons*********/
.conectionSlow {
  filter: invert(98%) sepia(56%) saturate(5608%) hue-rotate(354deg) brightness(107%) contrast(104%); }

.conectionOff {
  filter: invert(47%) sepia(91%) saturate(7466%) hue-rotate(352deg) brightness(91%) contrast(136%); }

.conectionOn {
  filter: invert(20%) sepia(91%) saturate(6386%) hue-rotate(117deg) brightness(100%) contrast(106%); }

/*****marker visiable*******/
.markernotvisiable {
  display: none; }

.markervisiable {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s; }

/***marker pulse**/
.obstructedflash {
  background-color: #ff3333;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #000; }

.obstructedflash::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: auto;
  padding-top: 300%;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 6px 3px #f33;
  animation: pulse 1s ease-out 1.1s infinite; }

/***marker pulse**/
.searchflash {
  background-color: #4bca81;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #000; }

.searchflash::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: auto;
  padding-top: 300%;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 6px 3px #06fe04;
  animation: pulse 1s ease-out 1.1s infinite; }

.doorflash {
  /*background-color: #ff0af7;  <-- Purple*/
  background-color: #dc3545;
  /*Red*/
  border-radius: 100%;
  box-shadow: 1px 1px 3px #000; }

.doorflash::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: auto;
  padding-top: 300%;
  margin: 0 auto;
  border-radius: 100%;
  /*box-shadow: 0 0 6px 3px #ff0af7;  <-- Purple*/
  box-shadow: 0 0 6px 3px #dc3545;
  /*Red*/
  animation: pulse 1s ease-out 1.1s infinite; }

.flash {
  background-color: #f33;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #000; }

.flash::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: auto;
  padding-top: 300%;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 6px 3px #f33;
  animation: pulse 1s ease-out 1.1s infinite; }

.blue {
  background-color: #49b; }

.blue::after {
  box-shadow: 0 0 6px 3px #49b; }

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  transition: transform .3s ease-out,opacity .3s ease-in; }

/***end marker pulse*****/
/**profile card*/
.user-card-full {
  overflow: hidden; }

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: 1px solid #dee2e6;
  margin-bottom: 15px; }

/* Sidebar panel content - Card */
.card-header {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 0; }

.m-r-0 {
  margin-right: 0px; }

.m-l-0 {
  margin-left: 0px; }

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px; }

.user-card-full .user-info {
  border-radius: 0 5px 5px 0;
  border: 1px solid #ced4da; }

.user-profile {
  padding: 10px 0; }

.card-block {
  padding: 1.25rem; }

.m-b-25 {
  margin-bottom: 25px; }

.img-radius {
  border-radius: 5px; }

h6 {
  font-size: 14px; }

.card .card-block p {
  line-height: 25px; }

p .smaller {
  font-size: 13px; }

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px; }
  p .smaller {
    font-size: 13px; } }

.card-block {
  padding: 1.25rem; }

.b-b-default {
  border-bottom: 1px solid #e0e0e0; }

.m-b-20 {
  margin-bottom: 20px; }

.p-b-5 {
  padding-bottom: 5px !important; }

.card .card-block p {
  line-height: 25px; }

.m-b-10 {
  margin-bottom: 10px; }

.text-muted {
  color: #919aa3 !important; }

.b-b-default {
  border-bottom: 1px solid #e0e0e0; }

.f-w-600 {
  font-weight: 600; }

.m-b-20 {
  margin-bottom: 20px; }

.m-t-40 {
  margin-top: 20px; }

.p-b-5 {
  padding-bottom: 5px !important; }

.m-b-10 {
  margin-bottom: 10px; }

.m-t-40 {
  margin-top: 20px; }

.user-card-full .social-link li {
  display: inline-block; }

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/**end profile card*/
/***dot icon*/
/* USPS Colors */
.bg-USPSBlue {
  background-color: #3573b1; }

.bg-USPSPurple {
  background-color: #333366; }

.bg-USPSRed {
  background-color: #e71921; }

/* FOTF-icon font sizing */
.iconXLarge i::before {
  font-size: 2.5rem; }

.iconXLarge [class*="path"]:before {
  font-size: 2.5rem; }

.iconLarge i::before {
  font-size: 2rem; }

.iconLarge [class*="path"]:before {
  font-size: 2rem; }

.iconMedium i::before {
  font-size: 1.5rem; }

.iconMedium [class*="path"]:before {
  font-size: 1.5rem; }

.iconSmall i::before {
  font-size: 1.25rem; }

.iconSmall [class*="path"]:before {
  font-size: 1.25rem; }

.iconXSmall i::before {
  font-size: 1rem; }

.iconXSmall [class*="path"]:before {
  font-size: 1.25rem; }

.biIconXSmall:before {
  font-size: 1rem !important; }

.biIconSmall:before {
  font-size: 1.25rem !important; }

.biIconMedium:before {
  font-size: 1.9rem !important; }

.biIconLarge:before {
  font-size: 2.4rem !important; }

/* i selector for fotf-icon */
.largeIcon i::before {
  font-size: 2.4rem; }

.mediumIcon i::before {
  font-size: 1.9rem; }

/* FOTF-Icon Font Family Section =========== */
[class^="pi-"]::before,
[class*=" pi-"]::before {
  display: inline-block;
  font-family: fotf-icon !important;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'fotf-icon';
  src: url("fonts/fotf-icon.ttf?936ex0") format("truetype"), url("fonts/fotf-icon.woff?936ex0") format("woff"), url("fonts/fotf-icon.svg?936ex0#fotf-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fotf-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pi-logoUspsLong:before {
  content: "\e900";
  color: #336; }

.pi-logoUspsShort:before {
  content: "\e901";
  color: #336; }

.pi-iconDividerSlanted:before {
  content: "\e902";
  color: #999; }

.pi-iconDiagramFill:before {
  content: "\e903"; }

.pi-iconDiagramOutline:before {
  content: "\e904"; }

.pi-iconGearFill:before {
  content: "\e905"; }

.pi-iconGearOutline:before {
  content: "\e906"; }

.pi-iconPlugFill:before {
  content: "\e907"; }

.pi-iconPlugOutline:before {
  content: "\e908"; }

.pi-pencilFill:before {
  content: "\e916"; }

.pi-trashFill:before {
  content: "\e90a"; }

.pi-iconMenuClose:before {
  content: "\e90b"; }

.pi-iconMenuOpen:before {
  content: "\e90c"; }

.pi-iconUserProfile:before {
  content: "\e90d"; }

.pi-iconStaffing:before {
  content: "\e90e"; }

.pi-iconVehicle:before {
  content: "\e90f"; }

.pi-iconMachine:before {
  content: "\e910"; }

.pi-iconDockTruck:before {
  content: "\e911"; }

.pi-iconNotification:before {
  content: "\e912"; }

.pi-iconFullScreen:before {
  content: "\e913"; }

.pi-iconFullScreenExit:before {
  content: "\e914"; }

.pi-iconLegend:before {
  content: "\e915"; }

.pi-iconLayer:before {
  content: "\e927"; }

.pi-iconViewport:before {
  content: "\e917"; }

.pi-iconViewportAdd:before {
  content: "\e918"; }

.pi-iconViewportSetting:before {
  content: "\e919"; }

.pi-iconZoomAll:before {
  content: "\e91a"; }

.pi-iconExit:before {
  content: "\e91b"; }

.pi-iconActive:before {
  content: "\e91e";
  color: #76a2ca; }

.pi-iconInactive:before {
  content: "\e91f";
  color: #999; }

.pi-iconRepairOn:before {
  content: "\e954";
  color: #76a2ca; }

.pi-iconRepairOff:before {
  content: "\e955";
  color: #999; }

.pi-iconWarningDashboard:before {
  content: "\e920";
  color: #ffb75d; }

.pi-iconCriticalDashboard:before {
  content: "\e921";
  color: #e71921; }

.pi-iconNormalDashboard:before {
  content: "\e922";
  color: #218748; }

.pi-iconThumbsUpOutline:before {
  content: "\e923"; }

.pi-iconThumbDownOutline:before {
  content: "\e924"; }

.pi-iconThumbUpFill:before {
  content: "\e925"; }

.pi-iconThumbDownFill:before {
  content: "\e926"; }

.pi-iconCaretDownFill:before {
  content: "\e931"; }

.pi-iconCaretDownOutline:before {
  content: "\e928"; }

.pi-iconCaretUpFill:before {
  content: "\e929"; }

.pi-iconCaretUpOutline:before {
  content: "\e92a"; }

.pi-iconTag2:before {
  content: "\e92b"; }

.pi-iconForklift:before {
  content: "\e92c";
  color: #000; }

.pi-iconLoader_forklift .path1:before {
  content: "\e92d";
  color: #ff6a00; }

.pi-iconLoader_forklift .path2:before {
  content: "\e942";
  margin-left: -1.3369140625em;
  color: #ff6a00; }

.pi-iconLoader_forklift .path3:before {
  content: "\e943";
  margin-left: -1.3369140625em;
  color: black; }

.pi-iconLoader_forklift .path4:before {
  content: "\e944";
  margin-left: -1.3369140625em;
  color: black; }

.pi-iconLoader_forklift .path5:before {
  content: "\e945";
  margin-left: -1.3369140625em;
  color: black; }

.pi-iconLoader_forklift .path6:before {
  content: "\e909";
  margin-left: -1.3369140625em;
  color: white; }

.pi-iconVh_ss .path1:before {
  content: "\e930";
  color: #ff6a00; }

.pi-iconVh_ss .path2:before {
  content: "\e932";
  margin-left: -1.8369140625em;
  color: rgba(3, 1, 0, 0.96); }

.pi-iconVh_ss .path3:before {
  content: "\e933";
  margin-left: -1.8369140625em;
  color: rgba(3, 1, 0, 0.96); }

.pi-iconVh_ss .path4:before {
  content: "\e934";
  margin-left: -1.8369140625em;
  color: rgba(3, 1, 0, 0.96); }

.pi-iconVh_ss .path5:before {
  content: "\e96a";
  margin-left: -1.8369140625em;
  color: black; }

.pi-iconVh_ss .path6:before {
  content: "\e96b";
  margin-left: -1.8369140625em;
  color: black; }

.pi-iconLoader_wr .path1:before {
  content: "\e935";
  color: #ff6a00; }

.pi-iconLoader_wr .path2:before {
  content: "\e94a";
  margin-left: -1.904296875em;
  color: black; }

.pi-iconLoader_wr .path3:before {
  content: "\e94b";
  margin-left: -1.904296875em;
  color: black; }

.pi-iconLoader_wr .path4:before {
  content: "\e94c";
  margin-left: -1.904296875em;
  color: black; }

.pi-iconLoader_wr .path5:before {
  content: "\e94d";
  margin-left: -1.904296875em;
  color: black; }

.pi-iconLoader_tugger .path1:before {
  content: "\e937";
  color: #ff6a00; }

.pi-iconLoader_tugger .path2:before {
  content: "\e951";
  margin-left: -1.1953125em;
  color: black; }

.pi-iconLoader_tugger .path3:before {
  content: "\e952";
  margin-left: -1.1953125em;
  color: black; }

.pi-iconLoader_tugger .path4:before {
  content: "\e953";
  margin-left: -1.1953125em;
  color: black; }

.pi-iconSurfboard .path1:before {
  content: "\e95d";
  color: #ff6a00; }

.pi-iconSurfboard .path2:before {
  content: "\e95e";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconSurfboard .path3:before {
  content: "\e95f";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconSurfboard .path4:before {
  content: "\e960";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconSurfboard .path5:before {
  content: "\e961";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconSurfboard .path6:before {
  content: "\e962";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconSurfboard .path7:before {
  content: "\e963";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconSurfboard .path8:before {
  content: "\e964";
  margin-left: -3.4208984375em;
  color: black; }

.pi-iconVh_bss .path1:before {
  content: "\e92e";
  color: black; }

.pi-iconVh_bss .path2:before {
  content: "\e946";
  margin-left: -1.9306640625em;
  color: black; }

.pi-iconVh_bss .path3:before {
  content: "\e947";
  margin-left: -1.9306640625em;
  color: #ff6a00; }

.pi-iconVh_bss .path4:before {
  content: "\e948";
  margin-left: -1.9306640625em;
  color: black; }

.pi-iconVh_bss .path5:before {
  content: "\e949";
  margin-left: -1.9306640625em;
  color: black; }

.pi-iconMule .path1:before {
  content: "\e96c";
  color: black; }

.pi-iconMule .path2:before {
  content: "\e96d";
  margin-left: -1.8349609375em;
  color: black; }

.pi-iconMule .path3:before {
  content: "\e96e";
  margin-left: -1.8349609375em;
  color: black; }

.pi-iconMule .path4:before {
  content: "\e96f";
  margin-left: -1.8349609375em;
  color: black; }

.pi-iconMule .path5:before {
  content: "\e970";
  margin-left: -1.8349609375em;
  color: #ff6a00; }

.pi-iconMule .path6:before {
  content: "\e971";
  margin-left: -1.8349609375em;
  color: black; }

.pi-iconMule .path7:before {
  content: "\e972";
  margin-left: -1.8349609375em;
  color: black; }

.pi-iconTricycle .path1:before {
  content: "\e965";
  color: black; }

.pi-iconTricycle .path2:before {
  content: "\e966";
  margin-left: -1.7783203125em;
  color: black; }

.pi-iconTricycle .path3:before {
  content: "\e967";
  margin-left: -1.7783203125em;
  color: #ff6a00; }

.pi-iconTricycle .path4:before {
  content: "\e968";
  margin-left: -1.7783203125em;
  color: black; }

.pi-iconTricycle .path5:before {
  content: "\e92f";
  margin-left: -1.7783203125em;
  color: black; }

.pi-iconLoader_avg_t .path1:before {
  content: "\e936";
  color: #2133ff; }

.pi-iconLoader_avg_t .path2:before {
  content: "\e94e";
  margin-left: -0.8427734375em;
  color: black; }

.pi-iconLoader_avg_t .path3:before {
  content: "\e94f";
  margin-left: -0.8427734375em;
  color: black; }

.pi-iconLoader_avg_t .path4:before {
  content: "\e950";
  margin-left: -0.8427734375em;
  color: black; }

.pi-iconLoader_avg_pj .path1:before {
  content: "\e938";
  color: #3340c3; }

.pi-iconLoader_avg_pj .path2:before {
  content: "\e939";
  margin-left: -1.4921875em;
  color: #3340c3; }

.pi-iconLoader_avg_pj .path3:before {
  content: "\e93a";
  margin-left: -1.4921875em;
  color: #060506; }

.pi-iconLoader_avg_pj .path4:before {
  content: "\e93b";
  margin-left: -1.4921875em;
  color: #060506; }

.pi-iconLoader_avg_pj .path5:before {
  content: "\e93c";
  margin-left: -1.4921875em;
  color: #060506; }

.pi-iconLoader_avg_pj .path6:before {
  content: "\e93d";
  margin-left: -1.4921875em;
  color: #060506; }

.pi-iconLoader_avg_pj .path7:before {
  content: "\e93e";
  margin-left: -1.4921875em;
  color: black; }

.pi-iconLoader_avg_pj .path8:before {
  content: "\e93f";
  margin-left: -1.4921875em;
  color: black; }

.pi-iconLoader_avg_pj .path9:before {
  content: "\e940";
  margin-left: -1.4921875em;
  color: #2133ff; }

.pi-iconLoader_avg_pj .path10:before {
  content: "\e941";
  margin-left: -1.4921875em;
  color: black; }

.pi-iconCriticalSquare:before {
  content: "\e956";
  color: #e71921; }

.pi-iconWarningSquare:before {
  content: "\e957";
  color: #ffac3d; }

.pi-iconCriticalTriangle:before {
  content: "\e958";
  color: #e71921; }

.pi-iconWarningTriangle:before {
  content: "\e959";
  color: #ffac3d; }

.pi-iconActiveZone:before {
  content: "\e91c";
  color: #76a2ca; }

.pi-iconInactiveZone:before {
  content: "\e91d";
  color: #999; }

.pi-iconEdit:before {
  content: "\e95a"; }

.pi-iconSnooze:before {
  content: "\e95b"; }

.pi-iconSubmit:before {
  content: "\e95c"; }

.pi-iconFAQ:before {
  content: "\e969"; }

.pi-iconDragDrop:before {
  content: "\e973"; }

/*** CSS goes in Site.css ***/
/* Bootstrap USPS Branding */
.btn.btn-primary {
  background-color: #333366;
  border-color: #333366; }

.btn.btn-light {
  background-color: #F7F7F7;
  color: #3573B1;
  border: 1px solid #3573B1; }

.btn-outline-info {
  color: #3573B1;
  border-color: #3573B1; }

.btn-outline-info:hover, .btn-outline-info:active {
  color: #fff;
  background-color: #3573B1;
  border-color: #3573B1; }

.form-control, .selectize-input {
  border: 1px solid #3573B1; }

/* START Survey Buttons */
#foft-survey-group {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 10%;
  width: 38px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform-origin: bottom left; }

#foft-survey-group a {
  /*Remove IOS webkit button styling*/
  -webkit-appearance: none;
  -webkit-border-radius: 0 0 4px 4px;
  /* USPS button styling */
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/* END Survey Buttons */
/* START leaflet-sidebar-tabs Overrides */
@media (min-width: 1200px) {
  .leaflet-sidebar {
    width: 570px;
    max-width: 570px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar {
    width: 520px;
    max-width: 520px; } }

/* END leaflet-sidebar-tabs Overrides */
/* START leaflet-sidebar-tabs Overrides */
div.leaflet-sidebar-left.leaflet-touch {
  left: 0;
  top: 0;
  bottom: 0;
  border-top: 0;
  border-right: 1px solid #ced4da;
  border-bottom: 0;
  border-left: 0; }

div.leaflet-sidebar.collapsed,
div.leaflet-sidebar-tabs {
  background-color: #333366;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1px; }

div.leaflet-sidebar-tabs > ul > li[title~="USPS"] {
  background-color: #fff;
  border-bottom: 3px solid #E71921;
  height: 44px;
  padding-top: 2px; }

div.leaflet-sidebar-tabs > ul > li[title~="USPS"] a {
  line-height: 44px; }

div.leaflet-sidebar:not(.collapsed) div.leaflet-sidebar-tabs > ul > li[title~="USPS"] {
  width: 175px; }

div.leaflet-sidebar:not(.collapsed) div.leaflet-sidebar-tabs > ul > li[title~="USPS"] i:before {
  content: "\e900"; }

div.leaflet-sidebar.collapsed,
div.leaflet-sidebar-tabs,
div.leaflet-sidebar-tabs > ul,
div.leaflet-sidebar-tabs > li,
div.leaflet-sidebar-tabs > ul > li {
  width: 64px;
  border-right: 0; }

div.leaflet-sidebar-tabs > li, .leaflet-sidebar-tabs > ul > li {
  height: 64px; }

.leaflet-sidebar-tabs > ul > li i::before {
  font-size: 1.75rem; }

div.leaflet-sidebar-tabs > li > a, div.leaflet-sidebar-tabs > ul > li > a {
  line-height: 64px; }

/* Sidebar Section Header */
.sectionHeader {
  color: #333366;
  font-size: 16px;
  font-weight: bold; }

/* Close Sidebar Button */
.close {
  font-size: inherit;
  color: #000; }

.sidebar a {
  color: #000; }

.leaflet-container a {
  color: #000; }

/* END leaflet-sidebar-tabs Overrides */
/* START leaflet-sidebar-content Overrides */
.leaflet-container {
  /*font: 10px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  /* Better Font Rendering =========== */
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1.leaflet-sidebar-header {
  border-bottom: 3px solid #E71921;
  height: 44px;
  margin: 0 0 0 95px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic; }

.slantedLogoDivider {
  border-left: 1px solid #797979;
  transform: skewX(-15deg);
  height: 24px;
  width: 20px;
  position: relative;
  top: 7px;
  left: 5px; }

i.pi-iconDividerSlanted {
  padding: 0 5px; }

h1.leaflet-sidebar-header i.pi-iconDividerSlanted {
  padding-right: 15px; }

div.leaflet-sidebar-pane.active {
  padding: 0px 0px 0px 2px; }

div.card-body.overflow-auto {
  max-height: 36rem; }

div.card-body.overflow-auto {
  max-height: 36rem; }

div.sidebar-pane h4 {
  font-size: 1.25rem; }

/* Floor Status */
/* Side Tab Panel - Horizontal Tab component USPS style */
.nav-tabs .nav-link {
  margin-bottom: 0;
  border: 0; }

ul.nav-tabs {
  border: 0; }

ul.nav-tabs .nav-link.active,
ul.nav-tabs .nav-link:hover {
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #E71921;
  color: #333366; }

ul.nav-tabs .nav-item,
ul.nav-tabs .nav-link {
  color: #595959;
  font-size: 12px;
  font-weight: bold; }

ul.nav-tabs .nav-item i.pi-iconDividerSlanted {
  line-height: 42px; }

.vehicleInfo.custom-control-label {
  vertical-align: middle;
  padding-top: 2px; }

/* END leaflet-sidebar-content Overrides */
/* START Leaflet Override - Bottom Right Buttons */
/* Zoom Buttons */
div.leaflet-touch .leaflet-bar a {
  height: 44px;
  line-height: 44px;
  width: 44px; }

div.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 40px;
  background-color: #333366;
  color: #fff; }

/* Other Buttons */
.leaflet-sidebar-close {
  top: .25rem; }

div.leaflet-touch .leaflet-bar button {
  background-color: #333366;
  color: #fff;
  height: 44px;
  line-height: 44px;
  width: 44px; }

div.leaflet-sidebar-left .leaflet-sidebar-content {
  left: 64px; }

div.leaflet-touch .leaflet-bar button.conn-on-active,
div.leaflet-touch .leaflet-bar button.conn-low-active,
div.leaflet-touch .leaflet-bar button.conn-off-active {
  background-color: #fff;
  border: 1px solid #333366; }

div.leaflet-touch .leaflet-bar button.conn-on-active span > i,
div.leaflet-touch .leaflet-bar button.conn-low-active span > i,
div.leaflet-touch .leaflet-bar button.conn-off-active span > i {
  filter: none; }

div.leaflet-touch .leaflet-bar button.conn-on-active {
  color: #333366; }

div.leaflet-touch .leaflet-bar button.conn-low-active {
  color: #ffc107; }

div.leaflet-touch .leaflet-bar button.conn-off-active {
  color: #E71921; }

div.leaflet-touch div.leaflet-control-layers, div.leaflet-touch div.leaflet-bar {
  border: 1px solid #fff; }

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #3574b1; }

/* leaflet - tooltip marker override for vehicle tag number*/
.leaflet-tooltip-top:before {
  border-top-color: #000; }

/* layers button styling */
.leaflet-touch .leaflet-control-layers-toggle {
  background-color: #333366;
  border-radius: 4px; }

.leaflet-control-layers-toggle {
  background-image: none;
  padding-top: 10px;
  padding-left: 10px; }

/* Zoom buttons styling override */
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

/* layer button icon */
.leaflet-control-layers-toggle::before {
  font-family: 'fotf-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e916";
  color: #ffffff;
  font-size: 1.5rem; }

/* Add title to Layers popover */
.leaflet-control-layers label:first-child::before {
  content: "Show Selected";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333366;
  top: -36px;
  left: 0;
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

/* layer panel divider - appended based on the listing order in the layers list */
.leaflet-control-layers label:nth-child(2) {
  border-bottom: 1px solid #797979;
  padding-bottom: 10px; }

/* Layer popover styling */
div.leaflet-control-layers {
  transition: all 1s; }

.leaflet-control-layers-expanded {
  border: 1px solid #333366 !important;
  border-radius: 0 !important;
  background-color: #f7f7f7;
  padding: 7px 14px; }

.layerPopover {
  position: absolute;
  bottom: 6px;
  right: 47px;
  width: 190px; }

/* Increase checkbox size for touch accessibility*/
.layerPopover .leaflet-control-layers-selector {
  margin-top: 0;
  width: 24px;
  height: 24px;
  margin-right: 3px; }

/* Change layout order of checkbox and label */
.layerPopover label div {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding-top: 3px;
  flex-direction: row-reverse;
  justify-content: space-between; }

/* END Leaflet Override - Bottom Right Buttons */
/* PopOver Legend overrides */
.popover {
  background-color: #f7f7f7;
  border: 1px solid #333366;
  border-radius: 0;
  line-height: 1.25;
  max-width: 896px; }

.popover-header {
  padding: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: left;
  margin-left: .75rem;
  color: #333366;
  background-color: #f7f7f7;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.popover-body {
  background-color: #f7f7f7;
  padding: .5rem;
  margin-bottom: .25rem; }

.popover-subheader {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 5px;
  color: #333366;
  background-color: #f7f7f7; }

/* Arrow for Leaflet Layers popover */
.layersArrow {
  content: '';
  position: absolute;
  display: block;
  right: -9px;
  bottom: 180px;
  width: 1rem;
  height: 1rem;
  transform: rotateZ(45deg);
  background-color: #f7f7f7;
  border: 1px solid #333366;
  border-bottom: 0;
  border-left: 0; }

/* Arrow styling for All Other popovers */
.bs-popover-left > .arrow::before, .bs-popover-auto[x-placement^="left"] > .arrow::before {
  border-left-color: #333366; }

.bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^="left"] > .arrow::after {
  border-left-color: #f7f7f7; }

/* popover content styling */
.noBullets {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.alert-info {
  border: 1px solid #3573B1;
  background-color: #b8d9f1;
  color: #3573b1; }

.alert-success {
  border: 1px solid #218748; }

.alert-warning {
  border: 1px solid #ffac3d; }

.alert-danger {
  border: 1px solid #fa8183; }

.alert-dangerX {
  color: #f8d7da;
  background-color: #721c24;
  border: 1px solid #fa8183; }

.noCorners {
  border-radius: 0; }

.lh-3 {
  line-height: 3; }

.lh-4 {
  line-height: 4; }

/* FAQ Table */
.faqHeader-dark th {
  padding: 5px;
  background-color: #343a40;
  color: #fff; }

.faqTable td {
  padding: 5px; }

/* Modal Override */
.modal-header1 {
  border-bottom: 0;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem; }

.modal-title1 {
  color: #333366;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.5; }

.modal-body1 {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 2rem; }

.modal-footer1 {
  border-top: 0;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem; }

/* Toast Styling overrides */
.toast {
  max-width: unset;
  width: 475px; }

.toast.alert-danger {
  border: 2px solid #e71921;
  color: #000000; }

.toast.alert-warning {
  border: 2px solid #ffac3d;
  color: #000000; }

.toast-header {
  color: #212142; }

.toast-header.alert-danger {
  border: 0;
  background-color: #fad7da; }

.toast-header.alert-warning {
  border: 0;
  background-color: #fff3cd; }

.toast button.close {
  opacity: 1; }

.btn:focus {
  outline: 0;
  box-shadow: none; }

.btn-link {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #212142; }

.btn-link:focus {
  text-decoration: none; }

.ml-p5rem {
  margin-left: .5rem !important; }

.ml-np5rem {
  margin-left: -.5rem !important; }

.mr-p5rem {
  margin-right: .5rem !important; }

.mr-p65rem {
  margin-right: .65rem !important; }

.mr-np5rem {
  margin-right: -.5rem !important; }

.ml-p25rem {
  margin-left: .25rem !important; }

/* Custom negative Left margin for vehicle icons to center on marker */
.ml--8 {
  margin-left: -8px !important; }

.ml--16 {
  margin-left: -16px !important; }

.ml--24 {
  margin-left: -24px !important; }

.ml--32 {
  margin-left: -32px !important; }

/* Force z-index Bootstrap - tooltip styling override */
.tooltip {
  z-index: 99999999999999999999; }

.tooltip-inner {
  background-color: #333366; }

.tooltip.show {
  opacity: 1; }

.tooltip .arrow {
  border-top-color: #333366; }

/**route trip details*/
.panelForms label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-weight: bold;
  margin: 0px; }

/**24 Hour Clock*/
#clockContainer {
  position: relative;
  margin: auto;
  height: 27.75vw;
  width: 45vw;
  background: url("/Content/images/24_hour_clock.jpg") no-repeat;
  background-size: 100%; }

#hour,
#minute,
#second {
  position: absolute;
  background-color: #454444;
  border-radius: 10px;
  transform-origin: bottom; }

#hour {
  width: 0.85%;
  height: 12.75%;
  top: 41%;
  left: 51.25%;
  /*opacity: 0.5;*/ }

#minute {
  width: 0.85%;
  height: 17.75%;
  top: 36%;
  left: 51.25%;
  /*opacity: 0.5;*/ }

#second {
  width: 0.75%;
  height: 22.75%;
  top: 31%;
  left: 51.25%;
  /*opacity: 0.5;*/ }

tr.hide-table-padding td {
  padding: 0; }

.expand-button {
  position: relative; }

.notificationP {
  overflow-x: auto;
  white-space: pre-wrap; }

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0; }
